.bsa-placeholder {
 clear:both;
 width:100%;
 background:#e9ecef !important;
 margin-top:.5rem;
 text-align:center;
 margin-bottom:.5rem;
 margin-right:.5rem;
 border-radius:.4rem;
 overflow:hidden;
}
#bsa-placeholder-search {
 clear:both;
 width:100%;
 background:#e9ecef !important;
 margin-top:.5rem;
 text-align:center;
 margin-right:.5rem;
 border-radius:.4rem;
 overflow:hidden;
}
.fondo-blanco{
background:#ffffff !important;
}
